BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 120
AccessModifierOffset: -2
PointerAlignment: Left
BreakBeforeBraces: Custom
BraceWrapping:
  AfterNamespace: false
  AfterClass: true
  AfterControlStatement: true
  AfterFunction: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  AfterEnum: true
IndentCaseLabels: true
AllowShortIfStatementsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: true
AlwaysBreakTemplateDeclarations: true
SpaceAfterTemplateKeyword: false
SpaceBeforeCtorInitializerColon: false
